<nav class="navbar col-12 bg-primary" data-bs-theme="dark">
    <div class="container-fluid d-flex jsutify-content-start">

        <a class="navbar-brand" routerLink="#"><strong>Party Management App</strong></a>

        <div class="nav-item">
            <a class="nav-link active" routerLink="login">Login</a>
        </div>
        <div class="nav-item">
            <a class="nav-link active" routerLink="party">Party Management</a>
        </div>

    </div>
</nav>
<div>
    <router-outlet></router-outlet>
</div>